.Slider {
  top: -2rem;
}

.imgCont {
  background: hotpink;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
  height: 18rem;
  width: 100%;
}

.imgCont:focus {
  outline: none;
}

.dot {
  height: 10px;
  width: 10px;
  background: white;
  border: 1px solid gray;
  border-radius: 50%;
}

@media screen and (min-width: 640px) {
  .Slider {
    top: -3rem;
  }

  .imgCont {
    height: 30rem;
  }
}
