.imgCont {
  background: url("../../images/roll-min.svg") #edf2f7;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 20rem;
  width: 100%;
}

.imgCont:focus {
  outline: none;
}

.dot {
  height: 10px;
  width: 10px;
  background: white;
  border: 1px solid gray;
  border-radius: 50%;
}

@media screen and (min-width: 640px) {
  .imgCont {
    height: 30rem;
  }
}
