.imgContainer {
  background: url("/images/oscar-min-sm.svg") #cbd5e0 center no-repeat;
  height: 20rem;
  width: 100%;
  margin: 0 auto;
  transition: all 0.25s ease-in-out;
  transform: scale(0.85);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  overflow: hidden;
}

.prefix {
  height: 100%;
}
