.Current {
  width: 16rem;
  height: 25rem;
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(237, 242, 247, 0.9);
  z-index: 100;
}

.Body {
  overflow: hidden;
}

.Content {
  width: 80%;
  max-width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.Content:focus {
  outline: none;
}

.InnerSlider {
  width: 16rem;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .Content {
    width: 40%;
  }
  .Current {
    width: 23rem;
    height: 36rem;
  }

  .InnerSlider {
    width: 23rem;
    margin: auto;
  }
}
