/* .Backdrop {
  height: 18rem;
} */

/* .PosterExpand {
  transition: all 0.2s ease-in-out;
  position: absolute;
  bottom: -24px;
}

.PosterContainer:hover .PosterExpand {
  bottom: 0;
} */

@media screen and (min-width: 640px) {
  .Backdrop {
    height: 25rem;
  }

  .PosterSec {
    display: grid;
    grid-template-columns: 0.4fr auto;
  }

  .CrewDetails,
  .BoxDetails {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    gap: 8px;
  }

  .Details {
    display: grid;
    grid-template-columns: 0.75fr 1fr 0.5fr;
    gap: 8px;
  }
}
