.Details {
  max-width: 10rem;
}

.Genres {
  --scrollWidth: 0;
  transition: all 1s linear;
}

.Genres:hover {
  margin-left: calc(10rem - var(--scrollWidth));
}

@media screen and (min-width: 414px) {
  .Details {
    max-width: 15rem;
  }

  .Genres:hover {
    margin-left: calc(15rem - var(--scrollWidth));
  }
}

@media screen and (min-width: 640px) {
  .PosterSec {
    display: grid;
    grid-template-columns: 0.4fr auto;
  }
}
