.Current {
  width: 100%;
  height: 20rem;
}

.Overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(237, 242, 247, 0.9);
  z-index: 100;
}

.Body {
  overflow: hidden;
}

.Content {
  width: 100%;
  max-width: 768px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -67%, 0);
}

.Content:focus {
  outline: none;
}

.InnerSlider {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .Current {
    width: 100%;
    height: 28rem;
  }

  .InnerSlider {
    width: 768px;
    margin: auto;
  }
}
