.Image:after {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("./roll-min.svg") #edf2f7;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.Image {
  background: url("./roll-min.svg") #edf2f7;
  background-position: center;
  background-repeat: no-repeat;
}
